Repository balancednetwork/balanced-soroban-contracts, pull requests merged in 2024-11, with the labels that each got.

#16 refactor: xcall_network_address removed from config
  contracts/asset_manager/src/config.rs
  contracts/asset_manager/src/contract.rs
  contracts/asset_manager/src/tests/asset_manager_test.rs
  contracts/asset_manager/src/tests/setup.rs
  contracts/balanced_doller/src/balanced_dollar.rs
  contracts/balanced_doller/src/config.rs
  contracts/balanced_doller/src/tests/setup.rs
Labels: enhancement

#17 fix: reset limit admin check
  contracts/asset_manager/src/contract.rs
  contracts/asset_manager/src/tests/asset_manager_test.rs
Labels: bug

#18 fix: throw error for non-existing token from read_token_data
  contracts/asset_manager/src/contract.rs
  contracts/asset_manager/src/states.rs
  contracts/asset_manager/src/tests/asset_manager_test.rs
Labels: enhancement

#19 fix: bnusd storage migration
  contracts/balanced_dollar/Cargo.toml
  contracts/balanced_dollar/src/allowance.rs
  contracts/balanced_dollar/src/balance.rs
  contracts/balanced_dollar/src/balanced_dollar.rs
  contracts/balanced_dollar/src/contract.rs
  contracts/balanced_dollar/src/errors.rs
  contracts/balanced_dollar/src/lib.rs
  contracts/balanced_dollar/src/metadata.rs
  contracts/balanced_dollar/src/storage_types.rs
  contracts/balanced_dollar/src/tests/balanced_dollar_test.rs
  contracts/balanced_dollar/src/tests/mod.rs
  contracts/balanced_dollar/src/tests/setup.rs
  contracts/balanced_dollar/src/xcall_manager_interface.rs
  contracts/balanced_doller/src/config.rs
  contracts/balanced_doller/src/states.rs
  contracts/balanced_doller/src/storage_types.rs
  contracts/balanced_doller/src/tests/test.rs
  script/optimize-stellar.sh
  scripts/optimize-stellar.sh
Labels: enhancement, scripts

#23 feat: genralized token contract
  contracts/spoke_token/Cargo.toml
  contracts/spoke_token/src/allowance.rs
  contracts/spoke_token/src/balance.rs
  contracts/spoke_token/src/contract.rs
  contracts/spoke_token/src/errors.rs
  contracts/spoke_token/src/lib.rs
  contracts/spoke_token/src/metadata.rs
  contracts/spoke_token/src/spoke_token.rs
  contracts/spoke_token/src/storage_types.rs
  contracts/spoke_token/src/tests/balanced_dollar_test.rs
  contracts/spoke_token/src/tests/mod.rs
  contracts/spoke_token/src/tests/setup.rs
  contracts/spoke_token/src/xcall_manager_interface.rs
Labels: enhancement

#24 fix: update optimize-stellar.sh
  scripts/optimize-stellar.sh
Labels: scripts
